<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/indexStyle.css}">
    <link rel="stylesheet" th:href="@{/css/registerStyle.css}">

    <title>Регистрация</title>
</head>
<body class="body">
<div class="wrapper">
    <header class="header" th:insert="blocks/header"></header>
    <nav class="navigation" th:insert="blocks/nav"></nav>
    <section class="registration__window">
        <form th:action="@{/users/register}" method="post">
            <div class="login__window__registration__bad__request" th:if="${error}">
                <p class="text-danger" th:text="${error}"></p>
            </div>
            <div class="registration__window__container">
                <label for="fullName">Имя</label>
                <input type="text" id="fullName" name="fullName" placeholder="Иван" required>
            </div>
            <div class="registration__window__container">
                <label for="email">Почта</label>
                <input type="text" id="email" name="email" placeholder="ivan@mail.ru" required>
            </div>
            <div class="registration__window__container">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="registration__window__button__container">
                <button class="registration__window__button" type="submit" th:href="@{/}">Зарегистрироваться</button>
            </div>
        </form>
    </section>
    <footer class="footer" th:insert="blocks/footer"></footer>
</div>
<div type="hidden" th:insert="blocks/capybara"></div>
</body>
</html>