<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/indexStyle.css}">
    <link rel="stylesheet" th:href="@{/css/scheduleStyle.css}">

    <title>Расписание</title>
</head>

<body class="body">
<div class="wrapper">
    <header class="header" th:insert="blocks/header"></header>
    <nav class="navigation" th:insert="blocks/nav"></nav>
    <section class="schedule__list">
        <a class="schedule__list__card__buy" th:each="schedule: ${schedules}" th:href="${user.fullName == 'Гость'} ? @{/users/register} : @{/schedule/{Id}(Id=${schedule.id})}">
            <div class="schedule__time__position">
                <div class="schedule__time">
                    <span th:text="${schedule.startTime}"></span>
                </div>
                <div class="schedule__time">
                    <span th:text="${schedule.endTime}"></span>
                </div>
            </div>
            <div class="schedule__info__position">
                <div class="schedule__info__name">
                    <p>
                        <span class="schedule__info__name__position" th:text="${schedule.film.name}"></span>
                        (<span class="schedule__info__name__position" th:text="${schedule.film.year}"></span>)
                    </p>
                </div>
                <div class="schedule__info__age_genre">
                    <p>
                        <span class="schedule__info__age_genre__position" th:text="${schedule.film.minimalAge}"></span>+
                        <span class="schedule__info__age_genre__position" th:text="${schedule.film.genre}"></span>
                        <span class="schedule__info__age_genre__position" th:text="${schedule.hall.name}"></span>
                    </p>
                </div>
                <div class="schedule__info__age_genre">
                    <p>
                        Цена: <span class="schedule__info__age_genre__position" th:text="${schedule.price}"></span> листков
                    </p>
                </div>
            </div>
        </a>
    </section>
    <footer class="footer" th:insert="blocks/footer"></footer>
</div>
</body>
</html>