<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/indexStyle.css}">
    <link rel="stylesheet" th:href="@{/css/ticketStyle.css}">

    <title>Приобрести билет</title>
</head>

<body class="body">
<div class="wrapper">
    <header class="header" th:insert="blocks/header"></header>
    <nav class="navigation" th:insert="blocks/nav"></nav>
    <div class="tiket__body">
        <div class="shedule__ticket">
            <div class="frame">
                <div class="frame__halls">
                    <div class="frame__halls__hall"></div>
                    <div class="frame__halls__hall"></div>
                    <div class="frame__halls__hall"></div>
                    <div class="frame__halls__hall"></div>
                    <div class="frame__halls__hall"></div>
                    <div class="frame__halls__hall"></div>
                    <div class="frame__halls__hall"></div>
                    <div class="frame__halls__hall"></div>
                    <div class="frame__halls__hall"></div>
                    <div class="frame__halls__hall"></div>
                    <div class="frame__halls__hall"></div>
                    <div class="frame__halls__hall"></div>
                </div>
                <div class="frame__body">
                    <div class="frame__body__smallpart__left"></div>
                    <div class="frame__body__bigpart__left">
                        <h3>Кинотеатр "Кинобара"</h3>
                        <p>Фильм: <span th:text="${schedule.film.name}"></span> (<span th:text="${schedule.film.year}"></span>)</p>
                        <p>Жанр: <span th:text="${schedule.film.genre}"></span></p>
                        <p>Возрастное ограничение:<span th:text="${schedule.film.minimalAge}"></span>+</p>
                        <p>Зал: <span th:text="${schedule.hall.name}"></span> (<span th:text="${schedule.hall.description}"></span>)</p>
                        <p>Начало сеанса: <span th:text="${schedule.startTime}"></span></p>
                        <p>Конец сеанса: <span th:text="${schedule.endTime}"></span></p>
                        <p>Ряд: <Select>
                            <option th:each="i : ${#numbers.sequence(1, schedule.hall.rowCount)}" th:value="${i}" th:text="${i}"></option>
                        </Select> Место: <Select>
                            <option th:each="i : ${#numbers.sequence(1, schedule.hall.placeCount)}" th:value="${i}" th:text="${i}"></option>
                        </Select>
                        </p>
                    </div>
                    <div class="frame__body__bigpart__right">
                        <img th:src="@{/files/{fileId}(fileId=*{schedule.film.fileId})}" alt="#">
                    </div>
                    <div class="frame__body__smallpart__right"></div>
                </div>
                <div class="frame__halls">
                    <div class="frame__halls__hall"></div>
                    <div class="frame__halls__hall"></div>
                    <div class="frame__halls__hall"></div>
                    <div class="frame__halls__hall"></div>
                    <div class="frame__halls__hall"></div>
                    <div class="frame__halls__hall"></div>
                    <div class="frame__halls__hall"></div>
                    <div class="frame__halls__hall"></div>
                    <div class="frame__halls__hall"></div>
                    <div class="frame__halls__hall"></div>
                    <div class="frame__halls__hall"></div>
                    <div class="frame__halls__hall"></div>
                </div>
            </div>
            <div class="submit">
                <a class="submit__cancel" th:href="@{/schedule/schedule}">Отмена</a>
                <button class="submit__accept" type="submit">Приобрести билет</button>
            </div>
        </div>
    </div>
    <footer class="footer" th:insert="blocks/footer"></footer>
</div>
</body>
</html>