<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/indexStyle.css}">
    <title>Кинотеатр</title>
</head>
<body class="body">
<div class="wrapper">
    <header class="header">
        <div class="header__logo">
            <div class="header__logo__img">
                <img width="100%" th:src="@{img/capybara-logo.svg}" alt="#">
            </div>
            <div class="header__logo__name">
                <p>Кинотеатр "Кинобара"</p>
                <p>место, где капибары смотрят фильмы</p>
            </div>
        </div>
        <div class="header__info">
            <div class="header__info__address">
                <p>Мы находимся: л.Дубовый, подлесок Еланина, нора 16</p>
            </div>
            <div class="header__info__phone">
                <p>+7(XXX)XXX-XX-XX</p>
            </div>
            <div class="header__info__registration">
                <a href="registration.html">Регистрация</a>
                <a href="login.html">Войти</a>
            </div>
        </div>
    </header>
    <section class="carousel">
        <div class="carousel__elements">
            <div class="carousel__element">
                <div class="short__name">
                    <p>Название фильма</p>
                </div>
                <div class="short__image">
                    <img src="#" alt="#">
                </div>
            </div>
        </div>
        <div class="carousel__button__nav">
            <button class="carousel__button__prev">
                <img width="50px" src="#" alt="#">
            </button>
            <button class="carousel__button__next">
                <img width="50px" src="#" alt="#">
            </button>
        </div>
    </section>
    <nav class="navigation">
        <a href="index.html">Главная</a>
        <a href="#">Расписание</a>
        <a href="#">Кинотека</a>
    </nav>
    <section class="list">
        <div class="list__card">
            <div class="list__card__img">
                <img src="#" alt="#">
            </div>
            <span class="list__card__name">
                    Название фильма
                </span>
            <span class="list__card__genre">
                    <p>Жанр</p>
                </span>
            <a href="#" class="list__card__buy">
                Купить билет
            </a>
        </div>
    </section>
    <footer class="footer">
        <a href="#">GitHub</a>
        <a href="#">Сайт</a>
        <a href="#">Job4j</a>
    </footer>
</div>
</body>
</html>