<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/indexStyle.css}">

    <title>Кинотеатр</title>
</head>
<body class="body">
<div class="wrapper">
    <header class="header" th:insert="blocks/header"></header>
    <section class="carousel">
        <div class="carousel__elements" th:each="film: ${films}">
            <div class="carousel__element">
                <div class="short__name">
                    <p th:text="${film.name}"></p>
                </div>
                <div class="short__image">
                    <img th:src="@{/files/{fileId}(fileId=${film.fileId})}" alt="#">
                </div>
            </div>
        </div>
        <div class="carousel__button__nav">
            <button class="carousel__button__prev">
                <img width="50px" th:src="@{img/arrow-left.svg}" alt="#">
            </button>
            <button class="carousel__button__next">
                <img width="50px" th:src="@{img/arrow-right.svg}" alt="#">
            </button>
        </div>
    </section>
    <nav class="navigation" th:insert="blocks/nav"></nav>
    <section class="list">
        <div class="list__card" th:each="film: ${films}">
            <div class="list__card__img">
                <img width="300px" th:src="@{/files/{fileId}(fileId=*{film.fileId})}" alt="#">
            </div>
            <span class="list__card__name" th:text="${film.name}"></span>
            <p><span class="list__card__genre" th:text="${film.genre}"></span> <span class="list__card__genre" th:text="${film.minimalAge}"></span>+</p>
            <a href="#" class="list__card__buy">
                Купить билет
            </a>
        </div>
    </section>
    <footer class="footer" th:insert="blocks/footer"></footer>
    <script th:src="@{js/indexScript.js}"></script>
</div>
</body>
</html>