<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кинотеатр</title>
</head>
<body class="body">
<div class="container">
    <div class="header">
        <div class="header__logo">
            <div class="header__logo__name">
                <p>Кинотеатр "Кинобара"</p>
                <p>место, где капибары смотрят фильмы</p>
            </div>
        </div>
        <div class="header__info">
            <div class="header__info__address">
                <p>Мы находимся: л.Дубовый, подлесок Еланина, нора 16</p>
            </div>
            <div class="header__info__phone">
                <p>+7(XXX)XXX-XX-XX</p>
            </div>
            <div class="header__info__registration">
                <a href="registration.html">Регистрация</a>
                <a href="login.html">Войти</a>
            </div>
        </div>
    </div>
    <div class="navigation">
        <a href="index.html">Главная</a>
        <a href="#">Расписание</a>
        <a href="#">Кинотека</a>
    </div>
    <div class="footer">
        <a href="#">GitHub</a>
        <a href="#">Сайт</a>
        <a href="#">Job4j</a>
    </div>
</div>
</body>
</html>