<div class="header__logo">
    <div class="header__logo__img">
        <img width="100%" th:src="@{/img/capybara-logo.svg}" alt="#">
    </div>
    <div class="header__logo__name">
        <p>Кинотеатр "Кинобара"</p>
        <p>место, где капибары смотрят фильмы</p>
    </div>
</div>
<div class="header__info">
    <div class="header__info__address">
        <p>Мы находимся: л.Дубовый, подлесок Еланина, нора 16</p>
    </div>
    <div class="header__info__phone">
        <p>+7(XXX)XXX-XX-XX</p>
    </div>
    <div class="header__info__registration" th:if="${user.fullName == 'Гость'}">
        <a th:href="@{/users/register}">Регистрация</a>
        <a th:href="@{/users/login}">Войти</a>
    </div>
    <div class="header__info__registration" th:if="${user.fullName != 'Гость'}">
        <a href="#" th:text="${user.fullName}"></a>
        <a th:href="@{/users/logout}">Выйти</a>
    </div>
</div>